extends layout

block css
	link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
	- tabletheme = "sortable-theme-bootstrap"
	link(rel='stylesheet', href='/stylesheets/#{tabletheme}.css')

block content
	- report = JSON.parse(report)
	.container
		.row.hidden-print
			.col-xs-12
				h1 Diagnostic Predictive Scales (DPS) Report
				p.lead The DPS is a screen and is not diagnostic. It is not a substitute for a thorough clinical evaluation.
				p In any of the tables, click a column header to sort with it.
				.btn-group
					a.btn.btn-secondary(href="/report") 
						i.fa.fa-chevron-left(aria-hidden="true")
						|  Back to all reports
					a.btn.btn-secondary(onClick="window.print()") Print Report
					a.btn.btn-secondary(href="#{report.subjectID}" download) Save Report

		.row.m-t-3
			-
				col1   = "col-sm-4"
				col2   = "col-sm-8"
			div.print-expand(class="#{col1}")
				h2 Report for #{report.subjectID}
				-
					optionalSections = ["site", "sponsor", "protocol", "description"]
				br 
				each section in optionalSections
					//- Square bracket notation allows selection of properties using variables
					if report[section] 
						h4 #{section.charAt(0).toUpperCase() + section.slice(1)}: #{report[section]}
				h4 Language: #{report.language}
				br
			div.print-expand(class="#{col2}")
				-
					one   = 6
					two   = 4
					three = 12 - one - two
					dpsScore = 0
					col = function(num) { 
						return 'col-sm-' + num
					}
				each section in report.formResponses
					h3= section.name
					table.table.table-striped(class="#{tabletheme}" data-sortable)
						- noScore = section.name === "Conclusion" || section.name === "Demographics"
						thead
							tr
								th(class="#{col(one)}") Question
								if noScore
									th(class="#{col(12 - one)}") Answer
								else
									th(class="#{col(two)}") Answer
									th(class="#{col(three)}") Score
						tbody
							-
								questionNum  = 1
								sectionScore = 0
							each response in section.qa
								tr
									td(class="#{col(one)}") #{questionNum}. #{response.question}
									td(class="#{col(two)}") #{response.answer}
									- placeholder = response.answer.length % 2; //- placeholder number
									td(class="#{col(three)}") 
										if !noScore
											=placeholder
								-
									questionNum++
									sectionScore += placeholder //- placeholder number
					table.table
						tr
							td(class="#{col(one + two)}")
								if !noScore 
									b #{section.name} Score
							td(class="#{col(three)}") 
								if !noScore
									=sectionScore
						- dpsScore += sectionScore
				table.table
					tr
						td(class="#{col(one)}")
						td(class="#{col(two)}") 
							h4 Total DPS Score
						td(class="#{col(three)}") 
							h4 #{dpsScore}


block scripts
	script(src='/javascripts/libraries/sortable.min.js')