extends layout

block css
	link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")
	- tabletheme = "sortable-theme-bootstrap"
	link(rel='stylesheet', href='/stylesheets/#{tabletheme}.css')

block content
	- report = JSON.parse(report)
	.container
		.row.hidden-print
			.col-xs-12
				h1 Diagnostic Predictive Scales (DPS) Report
				p.lead The DPS is a screen and is not diagnostic. It is not a substitute for a thorough clinical evaluation.
				p In any of the tables, click a column header to sort with it.
				.btn-group
					a.btn.btn-secondary(href="/report") 
						i.fa.fa-chevron-left(aria-hidden="true")
						|  Back to all reports
					a.btn.btn-secondary(onClick="window.print()") Print Report
					a.btn.btn-secondary(href="#{report.subjectID}" download) Save Report

		.row.m-t-3
			-
				col1   = "col-sm-4"
				col2   = "col-sm-8"
			div.print-expand(class="#{col1}")
				h2 Report for #{report.subjectID}
				- optionalSections = ["site", "sponsor", "protocol", "description"]
				mixin tableRow(title, name)
					tr
						td
							strong.text-capitalize= title
						td= name 
				br 
				table.table.table-striped
					+tableRow('DPS Score', report.dpsScore)
					+tableRow('Impairment Score', report.impairmentScore)
					+tableRow('Language', report.language)
					+tableRow('Interview Date', report.lastUpdated.substr(0,10))
					each section in optionalSections
						//- Square bracket notation allows selection of properties using variables
						if report[section] 
							+tableRow(section, report[section])
				br
			div.print-expand(class="#{col2}")
				-
					one   = 6
					two   = 4
					three = 12 - one - two
					col = function(num) { 
						return 'col-sm-' + num
					}
				each section in report.formResponses
					h3= section.name
					table.table.table-striped(class="#{tabletheme}" data-sortable)
						thead
							tr
								th(class="#{col(one)}") Question
								if section.score
									th(class="#{col(two)}") Answer
									th(class="#{col(three)}") Score
								else
									th(class="#{col(two + three)}") Answer
						tbody
							- questionNum  = 1
							each response in section.qa
								//- if there's no followup response, don't display the row for followup question and the blank answer
								if response.answer.length
									tr
										td(class="#{col(one)}") #{questionNum}. #{response.question}
										if section.score
											td(class="#{col(two)}") #{response.answer}
											td(class="#{col(three)}") 
												if response.score === 0
													| #{response.score}
												else
													strong #{response.score}
										else 
											td(class="#{col(two + three)}") #{response.answer}
									- questionNum++
					if section.score
						table.table
							tr
								td.text-xs-right(class="#{col(one + two)}")
									b #{section.name} Score
								td(class="#{col(three)}")
									strong #{section.score}



block scripts
	script(src='/javascripts/libraries/sortable.min.js')