extends layout

block css
	- tabletheme = "sortable-theme-bootstrap"
	link(rel='stylesheet', href='/stylesheets/#{ tabletheme }.css')

block content
	.container
		.row
			.col-xs-12
				h1= title
				p View the tests that you have administered by individual. Click a column header to sort with it.
		br
		.row
			-
				allSubjects = JSON.parse(reports)
				list = ["Subject ID", "Site", "Sponsor", "Protocol", "Description"]
			table.table(class="#{  tabletheme }" data-sortable)
				thead
					tr
						each header in list
							th #{ header } 
				tbody
					each subject in allSubjects
						tr
							td 
								a(href="/report/#{ subject.subjectID }") #{ subject.subjectID }
							td= subject.site
							td= subject.sponsor
							td= subject.protocol
							td= subject.description

block scripts
	script(src='/javascripts/libraries/sortable.min.js')