extends layout

block css
	link(rel="stylesheet" href="font-awesome/css/font-awesome.min.css")
	link(rel='stylesheet', href='/stylesheets/sortable-theme-bootstrap.css')

block content
	.container
		.row
			.col-xs-12
				h1= title
				p Stub reports page. View the tests that you have administered. You need to be in the 'admin' user group to see this page.
		.row			
		-
			test = [{id: "joe", site: "x district", report: ["test1", "test2"]}, {id: "jenn", site: "y district", report: ["test3", "test4"]}, {id: "jane", site: "z district", report: ["test5", "test6"]}]
			list = ["Subject ID", "Date", "Site", "Sponsor", "Protocol", "Description"]
		table.sortable-theme-bootstrap.table(data-sortable)
			thead
				tr
					each header in list
						th #{header} 
			tbody
				each person in test
					tr
						td 
							a(data-toggle="collapse" href="##{person.id}") #{person.id}
						td
							| date
						td
							| #{person.site}
						td
							| sponsor (#{person.id})
						td
							| protocol (#{person.id})
						td
							| descrip (#{person.id})
					//- tr.collapse(id="#{person.id}")
					//- 	td
					//- 		each r in person.report						
					//- 			a(href="#")
					//- 				p= r

block scripts
	script(src='/javascripts/libraries/sortable.min.js')
	script(src='/javascripts/report.js')